<!-- For older browsers -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Defines the character set in use -->
        <meta charset="UTF-8">
        <!-- Defines default page scaling for responsive web design -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Decide what version of IE the page is rendered through -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Page title -->
        <title>JordanDG | Portfolio</title>
        <!-- Stylesheet -->
        <link rel="stylesheet" href="css/styles.css">
        <!-- JS Script -->
        <script src="js/script.js"></script>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/ba3b736cb2.js" crossorigin="anonymous"></script>
        <!-- Favicon Config -->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
        <link rel="manifest" href="assets/site.webmanifest">
        <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="assets/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="assets/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <header class="header_container">
            <%- include ('./partials/navbar.ejs' )%>
            <div class="error404_container">
                <h1 class="error404_title">Error 404: Page Not Found</h1>
                <p class="error404_subtext">How'd you manage that?</p>
                <button class="error404_button"><a href="/">Return To Safety</a></button>
            </div>
        </header>
    </body>
</html>