<div class="footer_container">
    <ul class="nav_ul">
        <li class="nav_li"><a class="nav_a active" href="#Home" onclick="document.getElementById('header_main').scrollIntoView({ behavior: 'smooth' });">Home</a></li>
        <li class="nav_li"><a class="nav_a" href="#About" onclick="document.getElementById('section1').scrollIntoView({ behavior: 'smooth' });">About</a></li>
        <li class="nav_li"><a class="nav_a" href="#Contact" onclick="document.getElementById('section3').scrollIntoView({ behavior: 'smooth' });">Contact</a></li>
    </ul>
    <p class="footer_text">
        © JordanDG, 2023
    </p>
</div>