<div class="dropout_div" id="dropout_div" style="height: 0px;">
    <ul class="mobile_nav_ul">
        <li class="mobile_li"><a class="nav_a active" href="#Home" onclick="document.getElementById('header_main').scrollIntoView({ behavior: 'smooth' });">Home</a></li>
        <li class="mobile_li"><a class="nav_a" href="#About" onclick="document.getElementById('section1').scrollIntoView({ behavior: 'smooth' });">About</a></li>
        <li class="mobile_li"><a class="nav_a" href="#Contact" onclick="document.getElementById('section3').scrollIntoView({ behavior: 'smooth' });">Contact</a></li>
    </ul>
</div>