<div class="projectcontainer" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/<%-background%>)">
    <!-- <%- title %> -->
    <div class="project_overlay">
        <h1 class="project_title"><%-title%></h1>
        <p class="project_subheading"><%-subheading%></p>
    </div>
</div>