<section id="section2" class="section2_main">
    <h1 class="section2_title">Some Of My Work</h1>
    <div class="section2_project_aligner">
        <%- include ('../partials/projectexample.ejs', {title: "FIFO", subheading: "Food Rotating App", background: "fifo.png"}) %>
        <%- include ('../partials/projectexample.ejs', {title: "The Baking Index", subheading: "Recipe Browsing App", background: "tbi.png"}) %>
        <%- include ('../partials/projectexample.ejs', {title: "OMS Improvement", subheading: "Positing improvements to the OMS application", background: "oms.png"}) %>
        <%- include ('../partials/projectexample.ejs', {title: "SMS", subheading: "Student Budgeting App", background: "sms.png"}) %>
    </div>
</section>