<section id="section3" class="section3_main">
    <div class="section3_half">
        <h1 class="section1_title">Contact</h1>
        <p class="section1_text">Want to work on something new? Feel free to get in touch! I'm (probably too) active on social media platforms, which you can access here. I hope to hear from you soon! :)</p>
    </div>
    <div class="section3_half_horiz" id="basetext">
        <a href="https://twitter.com/DaGracaJordan"><img src="../../assets/twitter.png" class="section1_icons" alt="Twitter" /></a>
        <a href="https://twitter.com/DaGracaJordan"><img src="../../assets/linkedin.png" class="section1_icons" alt="LinkedIn" /></a>
        <a href="https://github.com/JordanDG"><img src="../../assets/github.png" class="section1_icons" alt="GitHub" /></a>
        <a href="https://www.behance.net/jordandagraca"><img src="../../assets/behance.png" class="section1_icons" alt="Behance" /></a>
    </div>
</section>