<section id="section1" class="section1_main">
    <div class="section1_half">
        <img src="../../assets/icons/html.png" class="section1_icons" alt="HTML5" />
        <img src="../../assets/icons/css.png" class="section1_icons" alt="CSS" />
        <img src="../../assets/icons/js.png" class="section1_icons" alt="Javascript" />
        <img src="../../assets/icons/node.png" class="section1_icons" alt="NodeJS" />
        <img src="../../assets/icons/github.png" class="section1_icons" alt="GitHub" />
        <img src="../../assets/icons/figma.png" class="section1_icons" alt="Figma" />
        <img src="../../assets/icons/adobe.png" class="section1_icons" alt="Adobe" />
        <img src="../../assets/icons/sqlite.png" class="section1_icons" alt="SQLite3" />
        <img src="../../assets/icons/react.png" class="section1_icons" alt="ReactJS" />
        <img src="../../assets/icons/php.png" class="section1_icons" alt="PHP" />
        <!-- <img src="../../assets/placeholder.png" class="section1_icons" alt="test" />
        <img src="../../assets/placeholder.png" class="section1_icons" alt="test" />
        <img src="../../assets/placeholder.png" class="section1_icons" alt="test" />
        <img src="../../assets/placeholder.png" class="section1_icons" alt="test" />
        <img src="../../assets/placeholder.png" class="section1_icons" alt="test" /> -->
    </div>
    <div class="section1_half" id="basetext">
        <h1 class="section1_title">Hi, I'm Jordan</h1>
        <p class="section1_text">An aspiring web designer & developer from Southampton. Introduced to the world of web development back in 2016, what was initially a hobbyist interest developed into a potential prospective job industry. Upon completion of my bachelors (2022) and upcoming completion of my masters (2023), I'm now looking to branch off into the working industry and apply those learnings in an industry role. With working knowledge regarding modern design and development processes (prototyping, design sprints, etc) for both front and backend development, I believe the next step is to apply this in a working environment.</p>
    </div>
</section>