<div class="header_main" id="header_main">
    <h1 class="header_main_title">Web Designer & Developer in an ever-changing landscape//</h1>
    <p class="header_main_subtext">Find out more about Me below:</p>
    <div class="header_main_button_container">
        <button class="header_main_button">My work</button>
        <button class="header_main_button">Contact</button>
    </div>
</div>